table.report_table tr:nth-child(odd) {
   background-color: #f8f8f8;
}
   
table.report_table th, table.report_table td {
   padding: 5px;
   text-align: left;
}  

table.report_part_view tr:nth-child(odd) {
   background-color: #f8f8f8;
}

table.report_part_view td {
   vertical-align: top;
   padding: 5px;
   text-align: left;
}

.report_changed {
   background-color: #DCDCEE !important;
}

.report_failed {
   background-color: #EEB8BC !important;
}

